@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  color: #58b7eb !important;
}
body {
  font-family: 'Montserrat', sans-serif;
  
  background-color: #000000 !important;
  opacity:0.9;
  /* background-image: url(../images/main-bg.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}


.layout_padding {
  padding: 70px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

.heading_container {
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
    position: relative;
    margin-bottom: 0;
    font-size: 3.5rem;
    font-weight: bold;
}

.heading_container h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background: #0f0c0c;
    margin: 10px auto 10px;
}

.heading_container h2 span {
  color: #080707;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub_page .hero_area {
  min-height: auto;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.header_section {
    padding: 15px 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 32px;
  color: #000000;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 20px;
    color: #131313;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
}

.custom_nav-container .navbar-nav .nav-item .nav-link svg {
  width: 17px;
  height: auto;
  fill: #000000;
  margin-bottom: 2px;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #161414;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link svg, .custom_nav-container .navbar-nav .nav-item.active .nav-link svg {
  fill: #f7444e;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #000000;
}

.custom_nav-container .nav_search-btn:hover {
  color: #3be0ec !important;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #e7b7b7 !important;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 90px 0 75px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box h1 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #002c3e;
    line-height: 70px;
}

.slider_section .detail-box h1 span {
  color: #0d0c0c !important;
}

.slider_section .detail-box p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 1.5rem;
}

.slider_section .detail-box a {
    display: inline-block;
    padding: 12px 45px;
    background-color: #4ac8d6 !important;
    border: 3px solid #090808;
    color: #0e0c0c !important;
    border-radius: 15px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 10px;
    font-weight: 700;
}

.slider_section .detail-box a:hover {
  background-color: black !important;
  color: #3fb7eb !important;
  border-radius: 10px;
  border: 2px solid rgb(73, 218, 218);
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  margin-top: 45px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* .slider_section .carousel-indicators li {
  background-color: #3ef168 !important;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
} */

/* .slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #52cdec !important;
} */

.slider_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slider_bg_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top right;
     object-position: top right;
}

.product_section .heading_container {
  margin-bottom: 20px;
}

.product_section .box {
    position: relative;
    margin-top: 25px;
    padding: 35px 35px;
    background-color: #021425;
    -webkit-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
    box-shadow: 5px 5px 5px -5px rgba(0,0,0,.2);
    border: solid rgb(56, 187, 234) 3px;
}

.product_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
}

.product_section .box .img-box img {
  max-width: 100%;
  max-height: 160px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product_section .box .detail-box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_section .box .detail-box h5 {
  font-size: 18px;
  margin-top: 10px;
}

.product_section .box .detail-box h6 {
  margin-top: 10px;
  color: #002c3e;
  font-weight: 600;
}

.product_section .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product_section .box:hover .option_container {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/* .arrival_section {
    background-color: #f03070;
} */
.product_section .option_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(66, 232, 229, 0.6);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.product_section .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_section .options a {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 30px;
  width: 165px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 5px 0;
}

.product_section .options .option1 {
  background-color: #3fe0e6;
  border: 1px solid #0a0909;
  color: #000000 !important ;
}

.product_section .options .option1:hover {
  background-color: transparent;
  color: #060505 !important;
}

.product_section .options .option2 {
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
}

.product_section .options .option2:hover {
  background-color: transparent;
  color: #000000;
}

.product_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.product_section .btn-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #010000;
  border: 1px solid #40ddd2;
  color: #40ddd2 !important;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product_section .btn-box a:hover {
  background-color: rgb(56, 227, 227);
  color: #030303 !important;
  border: 3px solid rgb(52, 51, 51);
  
}


/*# sourceMappingURL=style.css.map */

.heading_container.heading_center h3 {
    position: relative;
    margin-bottom: 15px;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

li.nav-item ul {
    background: #fff;
    border: solid #000 2px;
    border-radius: 0;
    padding: 10px 20px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 4px 4px 0px 0 #000;
    width: 190px;
}

li.nav-item ul li {
    float: left;
    width: 100%;
    margin: 6px 0;
}

li.nav-item ul li a {
    color: #212529;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
    /* margin-top: 10px; */
    transition: ease all 0.5s;
}

li.nav-item ul li a:hover, li.nav-item ul li a:focus {
    color: #f7444e;
}

.inner_page_head {
    /* background: #a19898; */
    text-align: center;
    color: rgb(39, 64, 63) !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.rmar{
  margin-top: 0;
}

.inner_page_head h3 {
    font-size: 42px;
    font-weight: 800;
}


div.form_sub .field input[type="email"], div.form_sub .field input[type="email"]:hover, div.form_sub .field input[type="email"]:focus {
    padding: 10px 110px 10px 15px; 
    border-radius: 0; 
    border: solid rgb(39, 221, 206) 1px; 
    font-size: 14px; 
    position: relative; 
    box-shadow: none; 
    width: 100%; 
    height: 48px;
}

.form_sub {
    position: relative;
}

.form_sub input[type="email"] + input[type="submit"] {
    position: absolute;
    right: 0;
    background-color: #39ceec !important;
    color: rgb(15, 10, 10) !important;
    border: none;
    top: 0px;
    font-size: 14px;
    height: 48px;
    font-weight: 600;
    padding: 0 15px;
}

form input {
    background: rgb(19, 13, 13);
    border: solid rgb(39, 182, 230) 1px;
    padding: 15px 15px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: normal;
}

form textarea {
    background: rgb(6, 4, 4);
    border: solid rgb(39, 182, 230) 1px;
    padding: 15px 15px;
    width: 100%;
    min-height: 150px;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: normal;
}

form input[type="submit"] {
    border: solid rgb(39, 182, 230) 2px;
    padding: 15px 45px;
    width: auto;
    font-size: 16px;
    text-transform: capitalize;
    line-height: normal;
    margin: 0 auto;
    display: flex;
    background: rgb(4, 4, 4);
    color: rgb(39, 182, 230) !important;
    font-weight: 600;
    transition: ease all 0.1s;
    border-radius: 3px;
}

.form-control{
  background: rgb(19, 13, 13);
    border: solid rgb(39, 182, 230) 1px;
    padding: 15px 15px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: normal;
}

.reg{
  text-align: center;
}

.middle{
  
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}

.ftag{
  text-align: center;
  margin-bottom: 5%;
}

.middle-btn{
  width: 20%;
  margin-left: 40%;
  color:rgb(39, 182, 230)  !important;
  background-color: #000;
  border: 2px solid rgb(39, 182, 230) ;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus {
  border: solid rgb(61, 40, 33) 3px;
    background: rgb(39, 182, 230);
    color: rgb(12, 9, 9) !important;
}

/** cpy **/

.cpy_ {
    background: rgb(6, 6, 6);
    text-align: center;
    padding: 20px 0;
}

.cpy_ p {
    margin: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

.cpy_ p a {
    margin: 0;
    color: #f7444e;
    font-size: 15px;
    font-weight: 400;
}




http://kute-themes.com/html/boutique/html/index.html
https://template.hasthemes.com/noraure/noraure/index.html
https://preview.hasthemes.com/xoss-preview/xoss/index.html



